<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>bedroom</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>卧房家具</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>bedroom_bed</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>床</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>bedroom_bedside</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>床头柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>bedroom_chest</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>衣柜/衣橱</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>bedroom_drawer</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>斗柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>bedroom_dresser</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>梳妆台/凳</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>bedroom_mirror</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>穿衣镜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025567</string>
				<key>imageName</key>
				<string>bedroom_suit</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>卧房套装</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>parlour</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>客厅</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026329,50026333,50037919,50037918,50037917,50026337</string>
				<key>imageName</key>
				<string>parlour_eliteSofa</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>精品沙发</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50105438,50105579</string>
				<key>imageName</key>
				<string>parlour_relaxSofa</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>休闲沙发</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50105599,50105580,50071526,50076814,50037921,50071478,50071479,50071512,50071513,50044708,50074180</string>
				<key>imageName</key>
				<string>parlour_teaTable</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>边桌/茶几</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026268,50071519,50071549</string>
				<key>imageName</key>
				<string>parlour_tvDesk</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>电视柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026263,50071548,50071484,50074188</string>
				<key>imageName</key>
				<string>parlour_screen</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>屏风</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026245,50026259,50074113</string>
				<key>imageName</key>
				<string>parlour_fireplace</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>壁炉</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50074112,50076820,50071490,50071520,50074186</string>
				<key>imageName</key>
				<string>parlour_shoebox</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>鞋柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50074112,50076820,50071490,50071520,50074345</string>
				<key>imageName</key>
				<string>parlour_suit</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>客厅套装</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>diningroom</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>餐厅</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50024400</string>
				<key>imageName</key>
				<string>diningroom_desk</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>餐桌</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024402</string>
				<key>imageName</key>
				<string>diningroom_chair</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>餐椅</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024399</string>
				<key>imageName</key>
				<string>diningroom_sideboard</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>餐边柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047396</string>
				<key>imageName</key>
				<string>diningroom_gradevin</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>酒柜/酒架/角柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>5004543</string>
				<key>imageName</key>
				<string>diningroom_suit</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>餐厅套装</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>studyroom</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>书房</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026637</string>
				<key>imageName</key>
				<string>studyroom_desk</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>书桌/工作台</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025829</string>
				<key>imageName</key>
				<string>studyroom_chair</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>书椅/转椅</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>studyroom_bookcase</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>书柜/书架</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50040639</string>
				<key>imageName</key>
				<string>studyroom_cornerdesk</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>转角书台</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50040567</string>
				<key>imageName</key>
				<string>studyroom_suit</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>书房套装</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>childrenroom</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>儿童房</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026502</string>
				<key>imageName</key>
				<string>childrenroom_bed</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>儿童床</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029231</string>
				<key>imageName</key>
				<string>childrenroom_desk</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>书桌/电脑台</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029232</string>
				<key>imageName</key>
				<string>childrenroom_chest</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>儿童衣柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50031545</string>
				<key>imageName</key>
				<string>childrenroom_chair</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>儿童椅</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029230</string>
				<key>imageName</key>
				<string>childrenroom_sidedesk</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>儿童床头柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026391</string>
				<key>imageName</key>
				<string>childrenroom_others</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>其他儿童家具</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026578</string>
				<key>imageName</key>
				<string>childrenroom_suit</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>儿童房套装</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>otherFurniture</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>其他家具</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50038235</string>
				<key>imageName</key>
				<string>otherFurniture_chufang</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>厨房家具</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024810</string>
				<key>imageName</key>
				<string>otherFurniture_weishengjian</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>洗手间家具</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50023647</string>
				<key>imageName</key>
				<string>otherFurniture_chuwu</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>储物家具</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50020412,50103016,50102765</string>
				<key>imageName</key>
				<string>otherFurniture_yangtai</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>阳台/户外家具</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50038365</string>
				<key>imageName</key>
				<string>otherFurniture_shangyebangong</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>商业办公家具</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025137</string>
				<key>imageName</key>
				<string>otherFurniture_dingzhi</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>定制家具</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>textiles</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>家纺家饰</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50099887</string>
				<key>imageName</key>
				<string>textiles_gongyi</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>工艺饰品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50100153,50100155</string>
				<key>imageName</key>
				<string>textiles_buyi</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>布艺织品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50100152,50100156</string>
				<key>imageName</key>
				<string>textiles_shounagui</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>收纳柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50100166,50099298,50100167,50099300,50099299,50099681</string>
				<key>imageName</key>
				<string>textiles_zhiwujia</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>置物架</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50099890,50099294,50099888</string>
				<key>imageName</key>
				<string>textiles_xiejia</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>小鞋柜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50100151,50100154</string>
				<key>imageName</key>
				<string>textiles_huajia</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>装饰花架</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50099591</string>
				<key>imageName</key>
				<string>textiles_chuangyijiajv</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>创意家具</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>suit</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>家居风格套装</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026461</string>
				<key>imageName</key>
				<string>suit_xiandai</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>现代风格</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025962</string>
				<key>imageName</key>
				<string>suit_oushi</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>欧式风格</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026473</string>
				<key>imageName</key>
				<string>suit_meishi</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>美式风格</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50023064</string>
				<key>imageName</key>
				<string>suit_hanshi</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>韩式风格</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026462</string>
				<key>imageName</key>
				<string>suit_zhongguogudian</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>新古典风格</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026463</string>
				<key>imageName</key>
				<string>suit_dizhonghai</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>地中海风格</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026464</string>
				<key>imageName</key>
				<string>suit_hunda</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>混搭风格</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
